<app-header></app-header>
<section>
  <div class="product-card" *ngFor="let product of product">
    <div class="img">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="info">
      <div class="details">
        
        <h1>{{product.brand}} <span>{{product.title}}</span></h1>
        <p>{{product.description}}</p>
        <h5>{{product.price}}</h5>
      </div>
    </div>
  </div>
</section>
<app-recommend-products [cid] = "cid"></app-recommend-products>
<app-footer></app-footer>