<section>
  <div class="container" *ngFor="let product of product">
    <div class="row">
      <div class="col-lg-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="margin-top: 17%" id="zoom">
              <img
                src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png"
                class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" style="margin-top: 17%" id="zoom">
              <img
                src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png"
                class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" style="margin-top: 17%" id="zoom">
              <img
                src="https://media.croma.com/image/upload/v1662703105/Croma%20Assets/Communication/Mobiles/Images/261963_oqrd6j.png"
                class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="container" style="margin-top: 15%">
          <div class="card px-5 mb-5" style="padding: 5% 0">
            <div class="about">
              <span class="text-black-50" style="font-size: 12px">Product Name</span>
              <h2 class="font-weight-bold">
                {{ product.brand }} <span>{{ product.title }}</span>
              </h2>
              <h6 class="font-weight-bold" style="color: #495057">
                Extra $1000 off
              </h6>
              <h4 class="font-weight-bold">$ {{ product.price }}</h4>
            </div>

            <hr />
            <div class="product-description">
              <div class="mt-2">
                <h5 class="fw-bold">Description:</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Repellat pariatur maiores incidunt amet vero dolor consectetur
                  nemo id repellendus aspernatur nulla earum voluptate, cum est
                  aperiam quibusdam illum nostrum ea dolorum voluptatem eaque
                  tempore!
                </p>
                <h6>Specification:</h6>
                <span>
                  <i class="fa-solid fa-arrow-right-long"></i> Lorem ipsum dolor
                  sit amet. <br /></span>
                <span>
                  <i class="fa-solid fa-arrow-right-long"></i> Lorem ipsum dolor
                  sit amet. <br /></span>
                <span>
                  <i class="fa-solid fa-arrow-right-long"></i> Lorem ipsum dolor
                  sit amet. <br /></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-recommend-products [cid]="cid"></app-recommend-products>