.carousel-control-prev-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/128/271/271220.png");
}

.carousel-control-next-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/128/271/271228.png");
}

/* .product-card {
  margin-right: auto;
  margin-left: auto;
  background-color: #dee2e6;
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 150px;
  margin-bottom: 200px;
  border-radius: 15px;
}
.img {
  width: 50%;
  height: 50px;
}
.info {
  width: 50%;
}
.center {
  display: block;
  width: 100%;
  padding: 0 50px;
  margin-top: 120px;
}
.details {
  display: block;
  padding: 0 50px;
  width: 100%;
  margin-top: 90px;
}
.details span {
  text-transform: uppercase;
  font-weight: 700;
}
.details h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.details p {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 50px;
}
.details h5 {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
} */
