<section class="container new-arrivals">
  <h2 class="heading animated bounceInDown"><span>Just Arrived</span></h2>
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let product of productsList">
      <div class="product-grid">
        <div class="product-image">
          <img src="{{ product.image }}" />
          <a routerLink="" class="add-to-cart button">View Product</a>
        </div>
        <div class="product-content">
          <h3 class="title">{{ product.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
