<h3 class="heading">Top Selling</h3>
<hr />
<div class="page">
  <details class="card">
    <summary class="card__header">
      <img
        class="card__avatar mx-2"
        src="http://johnlewis.scene7.com/is/image/JohnLewis/109467289"
        width="100"
        height="100"
      />
      <h1>Apple 14 (128 Gb)</h1>
      <span class="card__indicator"> </span>
      <div class="card__actions">
        <h4 class="mt-2 mb-3">$459.99</h4>
        <button type="button">View More</button>
      </div>
    </summary>
    <div class="card__body">
      <p>
        128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front
        Camera A12 Bionic Chip Processor
      </p>
    </div>
  </details>
</div>
