.heading {
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 40px;
}

.heading span {
  background: #f8f9fa;
  padding: 0 10px;
}
.img {
  transition: transform 0.6s;
  width: 200px;
  height: 200px;
}
.img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  height: 230px;
  width: 230px;
}
@media (max-width: 767px) {
  .txt {
    font-size: 15px;
  }
}
