<section class="container">
  <h3 class="heading my-5"><span>Apple</span></h3>
  <div class="cardSection">
    <div class="mycard" *ngFor="let app of apple">
      <div class="card-grid-view">
        <div class="card-body">
          <img src={{app.images[0]}} class="card-img" alt="item" />
          <div class="text-center pt-2 card-content">
            <h5 id="title" >{{app.title}}</h5>
            <p className="text-muted">{{app.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <button class="view-products " (click)="navigate('apple')"> View Apple Products </button>
  </div>
  <h3 class="heading my-5"><span>Keychron</span></h3>
  <div class="cardSection">
    <div class="mycard" *ngFor="let key of keychron">
      <div class="card-grid-view">
        <div class="card-body">
          <img src={{key.images[0]}} class="card-img" alt="item" />
          <div class="text-center pt-2 card-content">
            <h5 id="title" >{{key.title}}</h5>
            <p className="text-muted">{{key.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <button class="view-products " (click)="navigate('keychron')"> View Keychron Products </button>
  </div>
  <h3 class="heading my-5"><span>Rolling Square</span></h3>
  <div class="cardSection">
    <div class="mycard" *ngFor="let rs of rollingSquare">
      <div class="card-grid-view">
        <div class="card-body">
          <img src={{rs.images[0]}} class="card-img" alt="item" />
          <div class="text-center pt-2 card-content">
            <h5 id="title" >{{rs.title}}</h5>
            <p className="text-muted">{{rs.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <button class="view-products " (click)="navigate('rollingsquare')"> View Rolling Square Products </button>
  </div>
  <h3 class="heading my-5"><span>B&O</span></h3>
  <div class="cardSection">
    <div class="mycard" *ngFor="let bo of bo">
      <div class="card-grid-view">
        <div class="card-body">
          <img src={{bo.images[0]}} class="card-img" alt="item" />
          <div class="text-center pt-2 card-content">
            <h5 id="title" >{{bo.title}}</h5>
            <p className="text-muted">{{bo.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <button class="view-products " (click)="navigate('b&o')"> View B&O Products </button>
  </div>
</section>