<section class="container">
  <div class="heading">
    <h2 class="my-4">Apple</h2>
  </div>
  <div class="cardSection">
    <div *ngFor="let apple of apple">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ apple.title }}</a>
      </h5>
    </div>
  </div>
<div class="center">
  <button class="view-products"> View Apple Products </button>
</div>
  <div class="heading">
    <h2 class="my-4">SATECHI</h2>
  </div>

  <div class="cardSection">
    <div *ngFor="let satechi of satechi">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ satechi.title }}</a>
      </h5>
    </div>
  </div>
  <div class="center">
    <button class="view-products"> View Satechi Products </button>
  </div>
  <div class="heading">
    <h2 class="my-4">Rolling Square</h2>
  </div>
  <div class="cardSection">
    <div *ngFor="let rollingSquare of rollingSquare">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ rollingSquare.title }}</a>
      </h5>
    </div>
  </div>
  <div class="center">
    <button class="view-products"> View Rolling Square Products </button>
  </div>
  <div class="heading">
    <h2 class="my-4">Dr Dre</h2>
  </div>
  <div class="cardSection">
    <div *ngFor="let drDre of drDre">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ drDre.title }}</a>
      </h5>
    </div>
  </div>
  <div class="center">
    <button class="view-products"> View Dr Dre Products </button>
  </div>
</section>