.heading {
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 40px;
}

.heading span {
  background: #F8F9FA;
  padding: 0 10px;
}

.center {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.view-products {
  padding: 10px 10px;
  border: solid #212529 1px;
  transition: 579ms;
  text-align: center;
  cursor: pointer;
  width: 300px;
  text-transform: uppercase;
  height: 56px;
  background-color: #f8f9fa;
  color: #212529;
  font-weight: 540;
  font-size: 14px;
}

.view-products:hover {
  background-color: #212529;
  color: #f8f9fa;
}

.cardSection {
  max-width: 1310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mycard {
  width: 273px;
  height: 360px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 300px 400px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.mycard:hover {
  cursor: pointer;
  filter: brightness(40%);
  transition: 579ms;
  transition-timing-function: cubic-bezier(0, 0, 0.44, 1.18);
}

h5 {
  color: #212529;
  text-decoration: none;
  margin: 0 2px;
  font-size: 18px;
}


@media (max-width: 768px) {
  .view-products {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .mycard {
    width: 273px;
    height: 360px;
  }
}

@media (max-width: 1220px) {
  .cardSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: 0px;
  }

  .mycard {
    width: 273px;
    height: 360px;
  }
}

@media (max-width: 991px) {
  .cardSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
  }

  h5 {
    margin: 25px 2px;
  }
}

@media (max-width: 650px) {
  .cardSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5px;
  }

  h5 {
    margin: 25px 2px;
  }
}