<section>
  <div class="mb-1 d-flex flex-row justify-content-center">
    <h2 class="mt-4 text-center">Apple</h2>
    <hr class="dashed" />

    <a href="">
      <img
        class="img"
        src="https://www.transparentpng.com/thumb/apple-logo/12znKl-apple-logo-free-download.png"
        alt=""
        height="80px"
      />
    </a>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>

  <div class="cardSection">
    <div *ngFor="let apple of apple">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ apple.title }}</a>
      </h5>
    </div>
  </div>
  <div class="mb-1 d-flex flex-row justify-content-center">
    <h2 class="mt-4 text-center">SATECHI</h2>
    <hr class="dashed" />

    <a href="">
      <img
        class="img ms-3"
        src="../../../../assets/images/HomePage/satechi.png"
        alt=""
        width="200px"
        height="70px"
      />
    </a>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>
  <div class="cardSection">
    <div *ngFor="let satechi of satechi">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ satechi.title }}</a>
      </h5>
    </div>
  </div>
  <div class="mb-1 d-flex flex-row justify-content-center">
    <h2 class="mt-4 text-center">Rolling Square</h2>
    <hr class="dashed" />

    <a href="">
      <img
        class="img mt-4 ms-3"
        src="../../../../assets/images/HomePage/rollingsquare.png"
        alt=""
        height="50px"
      />
    </a>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>
  <div class="cardSection">
    <div *ngFor="let rollingSquare of rollingSquare">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ rollingSquare.title }}</a>
      </h5>
    </div>
  </div>
  <div class="mb-1 d-flex flex-row justify-content-center">
    <h2 class="mt-4 text-center">Dr Dre</h2>
    <hr class="dashed" />

    <a href="">
      <img
        class="img"
        src="https://www.transparentpng.com/thumb/apple-logo/12znKl-apple-logo-free-download.png"
        alt=""
        height="80px"
      />
    </a>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>
  <div class="cardSection">
    <div *ngFor="let drDre of drDre">
      <div class="mycard">
        <div class="btn">
          <button>View Product</button>
        </div>
      </div>
      <h5>
        <a href="/">{{ drDre.title }}</a>
      </h5>
    </div>
  </div>
  <div class="container">
    <button class="mycardbtn my-4">
      <p class="para">View our products</p>
      <svg
        stroke="currentColor"
        viewBox="0 0 24 24"
        fill="none"
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 5l7 7m0 0l-7 7m7-7H3"
          strokeLinejoin="round"
          strokeLinecap="round"
        ></path>
      </svg>
    </button>
  </div>
</section>
