<main>
    <div class="imgcontainer">
        <img src='../../../../assets/images/HomePage/Apple.jpg' class="img" alt="Bannerimage" />
        <button class="mybtn">
            <p class="para">Coming Soon</p>
            <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 5l7 7m0 0l-7 7m7-7H3" strokeLinejoin="round" strokeLinecap="round"></path>
            </svg>
        </button>
    </div>
</main>