<main>
  <div class="imgcontainer">
    <video class="img"  muted autoplay loop >
      <source
        src="../../../../assets/images/HomePage/Introducing Dynamic Island on iPhone 14 Pro  Apple.mp4"
        type="video/mp4"
      />

    </video>
    <!-- <button class="mybtn">
      <p class="para">Coming Soon</p>
      <svg
        stroke="currentColor"
        viewBox="0 0 24 24"
        fill="none"
        class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 5l7 7m0 0l-7 7m7-7H3"
          strokeLinejoin="round"
          strokeLinecap="round"
        ></path>
      </svg>
    </button> -->
  </div>
</main>
