<form id="app-cover">
    <div id="select-box">
      <input type="checkbox" id="options-view-button">
      <div id="select-button" class="brd">
        <div id="selected-value">
          <span>Select a platform</span>
        </div>
        <div id="chevrons">
          <i class="fas fa-chevron-up"></i>
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div id="options">
        <div class="option" *ngFor="let company of companies">
          <input class="s-c top" type="radio" name="platform" value="{{company.id}}" (change)="click($event)">
          <span class="label">{{company.name}}</span>
        </div>

        <!-- <div class="option" *ngFor="let company of companies">
          <select class="s-c top" name="platform">
            <option value="{{company.id}}"  class="label">{{company.name}}</option>
          </select>
        </div> -->

        <div id="option-bg"></div>
      </div>
    </div>
  </form>