<h2 class="heading animated rollIn">{{ Title }} Products</h2>
<div class="container">
  <div
    class="col-lg-12 my-5"
    *ngFor="
      let products of productsList
        | paginate : { itemsPerPage: 5, currentPage: pageNumber }
    "
  >
    <div class="col-lg-12 col-md-12 box mb-2 d-flex">
      <img
        class="img"
        src="../../../../assets/images/HomePage/apple14.png"
        width="200px"
        height="200px"
        alt=""
      />
      <div class="container mt-3">
        <h5 class="title">{{ products.title }}</h5>
        <span class="text-muted txtcol">{{ products.brand }} </span>
        <span class="text-muted txtcol">{{ products.category }} </span>
        <p class="txt">
          {{ products.description }}
        </p>
        <h6>Available Colors :- </h6>
        <div class="radio-box"  *ngFor="let color of products.color">
          <label [ngClass]="getColor(color)">
            <input type="radio" checked="checked" name="radio" />
          </label>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 col-md-1 justify-content-center price">
        <div class="mx-4 star">
          <i class="fa fa-star" style="color: gold"></i>
          <i class="fa fa-star" style="color: gold"></i>
          <i class="fa fa-star" style="color: gold"></i>
          <i class="fa fa-star" style="color: gold"></i>
        </div>
        <button
          type="button"
          class="btn btntxt btn-dark my-3 mb-2 mx-1 btncss"
          (click)="navigate(products.cid, products.id)"
        >
          View Product
        </button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls
      (pageChange)="pageNumber = $event"
    ></pagination-controls>
  </div>
</div>
