<app-header></app-header>
<section>
  <div id="container">
    <h1>DON'T HESITATE CONTACT US</h1>
    <div id="row">
      <div id="form">
        <form [formGroup]="contactForm" (submit)="sendEmail($event)">
          <div class="input">
            <input
              type="text"
              name="name"
              class="name"
              pattern="\d+"
              placeholder="Full Name"
              formControlName="name"
            />
            <input
              type="text"
              name="email"
              class="email"
              pattern="\d+"
              placeholder="E-mail Adress"
              formControlName="email"
            />
          </div>
          <input
            type="text"
            name="subject"
            class="subject"
            pattern="\d+"
            placeholder="Subject"
            formControlName="subject"
          />
          <textarea
            placeholder="Message"
            type="text"
            name="message"
            class="text-area"
            pattern="\d+"
            formControlName="message"
          ></textarea>
          <br />
          <button>Send Message</button>
        </form>
      </div>
      <div class="info">
        <div class="address">
          <h4>Address</h4>
          <p>
            Techneworld
            <br />
            M3, State 2 Bldg,Al Twar 1,
            <br />
            Dubai - UAE
          </p>
        </div>
        <hr />
        <div class="contact">
          <h4>Contact Info</h4>
          <p>
            E-Mail: info.techneworld@gmail.com
            <br />
            <a class="text-dark" href="tel:+971508065253">+971 50 806 5253</a
            >
            <!-- <br />
            Phone: +971 50 806 5253 -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-whatsappbtn></app-whatsappbtn>
<app-footer></app-footer>
