<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Product</span>
            </li>
         
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Category 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Category 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Category 1</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="footer-title">Home</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: 'white'" routerLink="/products">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: 'white'" routerLink="/contact">Contact</a>
            </li>
            
          </ul>
        </div>
        <div class="col-md-4 footer-column">
          <ul class="nav flex-column">
            <li class="nav-item ">
              <span class="footer-title">Contact & Support</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><i class="fas fa-phone" style="color: 'white'"></i>+47 45 80 80 80</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#"><i class="fas fa-comments" style="color: 'white'"></i>Live chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#"><i class="fas fa-envelope" style="color: 'white'"></i>Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#"><i class="fas fa-star" style="color: 'white'"></i>Give feedback</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="text-center"><i class="fas fa-ellipsis-h" style="color: 'white'"></i></div>
  
      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="copyright quick-links">Copyright &copy; Your Website <script>
              document.write(new Date().getFullYear())
            </script>
          </span>
        </div>
        <div class="col-md-4  box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a routerLink="#">
                <i class="fab fa-twitter" style="color: 'white'"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a routerLink="#">
                <i class="fab fa-facebook-f" style="color: 'white'"></i>
              </a>
            </li>
            <li class="list-inline-item" style="color: 'white'">
              <a routerLink="#">
                <i class="fab fa-linkedin-in" style="color: 'white'"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a routerLink="#"></a>
            </li>
            <li class="list-inline-item">
              <a routerLink="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
