@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.heading {
  font-weight: 700;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 40px;
}

.heading span {
  background: #f8f9fa;
  padding: 0 10px;
}

#row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0;
}
.product {
  box-shadow: 1px 5px 15px #adb5bd;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}

.product img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  color: rgba(255, 255, 255, 0.9);
}
.product_inner button {
  text-align: center;
  border: 1px solid #212529;
  color: #212529;
  border-radius: 3px;
  margin: 1em 0 0 0;
  cursor: pointer;
  padding: 8px 15px;
  background: none;
  transition: background ease-in 0.25s;
}
.product_inner button:hover {
  background: #212529;
  color: #f8f9fa;
}
.product_inner button:before {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 1.5em;
  margin: -3px -1.5em;
}
.product_inner button:hover:before {
  color: #f8f9fa;
}
