<h3 class="heading"><span>Recommend Products</span></h3>
<section class="container">
  <div id="row">
    <div class="product" *ngFor="let product of productList">
      <div class="product_inner">
        <img
          src="https://merchants.infishopper.com/content/images/thumbs/0529007_merlin-craft-apple-airpods-pro-green-glossy.jpeg"
          width="300"
        />
        <p class="text-dark" style="font-weight: bolder">{{ product.brand }}</p>
        <p class="text-dark" style="font-weight: normal">{{ product.title }}</p>
        <p class="text-dark" style="font-weight: normal">
          Price {{ product.price }} /-
        </p>
        <button>View Product</button>
      </div>
    </div>
  </div>
</section>
